mixin menuItem(link, name, current)
  li(class="menu__item")
    if(current)
      span(class="menu__link menu__link--current")= name
    else
      a(class="menu__link" href= link)= name

mixin subscriptionItem(how, when, price)
  div(class="subscription")
    h4(class="subscription__title")= how
    if (block)
      block
    else
      p(class="subscription__time")= when
    p(class="subscription__price")= price
    button(class="subscription__button") Заказать абонемент

mixin memberTabItem(name, exp, active)
  div(class="member-description__item tabcontent " + `${active}`)
    h3(class="member-description__name")= name
    p(class="member-description__experience")= exp
    if block
      block memDescr
    else
      p(class="member-description__text")= text
      

mixin memberContentItem(name, direction, image, active)
  div(class="member tabbutton slider__item" + `${active}`)
    div(class="member__container")
      picture(class="member__image-container")
        source(media="(max-width: 600px)", srcset=`images/phone/team-${image}.webp`, type="image/webp")
        source(media="(max-width: 1199px)", srcset=`images/tablet/team-${image}.webp`, type="image/webp")
        source(media="(min-width: 1200px)", srcset=`images/desktop/team-${image}.webp`, type="image/webp")
        source(media="(max-width: 600px)", srcset=`images/phone/team-${image}.jpg`, type="image/jpg")
        source(media="(max-width: 1199px)", srcset=`images/tablet/team-${image}.jpg`, type="image/jpg")
        source(media="(min-width: 1200px)", srcset=`images/desktop/team-${image}.jpg`, type="image/jpg")
        img(class="member__image" src= `images/desktop/team-${image}.jpg` , alt="Серёжа Попов", srcset="")
      div(class="member__about")
          div(class="member__info")
            p(class="member__position") Инструктор
            p(class="member__name")= name
            p(class="member__direction")= direction
          div(class="member__socials")
            a(class="member__social-link" href="#", target="_blank", rel="noopener noreferrer"): svg(class="socials__icon socials__icon--vk"): use(xlink:href="images/sprite.svg#sp-vk")
            a(class="member__social-link" href="#", target="_blank", rel="noopener noreferrer"): svg(class="socials__icon socials__icon--tw"): use(xlink:href="images/sprite.svg#sp-tw")
          p(class="member__link-container")
            a(class="member__link" href="#") Смотреть
    if block
      block memContent
    else
      div(class="member__description--mobile")
        p(class="member-description__experience") Опыт преподавания: 8 лет
        p(class="member-description__text") Образование и опыт работы: Практикует с 2011 года, является сертифицированным инструктором по флоу- йоге. Большой опыт преподавания йоги для начинающих и продолжающих.
        p(class="member-description__text") Обучалась в Индии (International Association of Yoga: classical yoga, master of principles yoga therapy), Непале (опыт медитативных и дыхательных техник, проживание в Ашраме), Москва (Аштанга йога центр 108 А. Константинова), Московский центр классической йоги Виктора Бойко.
        p(class="member-description__text") Сертифицированный инструктор по фитнесу и йоге (БГУФК), по массажу (Оздоровительный Витал – центр №401).
        p(class="member-description__text") Организатор и участник многочисленных конвенций и семинаров по йоге, медитативным техникам и здоровому питанию.

mixin testimonialItem(name, date, datebin, image, active)
  div(class="testimonial-item slider__item" + `${active}`)
    div(class="testimonial__container")
      div(class="testimonial__quotes-container")
        span(class="testimonial__quotes span-block"): svg(class="testimonial__icon"): use(xlink:href="images/sprite.svg#sp-qoutes")
                            
      div(class="testimonial__text-container")
        if block
          block text
        else
          p(class="testimonial__text") Хожу на йогу вечером, чтобы расслабиться после  тяжелого трудового дня. И после занятий наступает спокойствие! 
          p(class="testimonial__text") Йога это отличный способ быстро и качественно расслабиться. Спасибо инструктору Марине.

      div(class="testimonial__author author")
        picture(class="author__image-container")
          source(media="(max-width: 600px)", srcset=`images/phone/testimonials-${image}.webp`, type="image/webp")
          source(media="(max-width: 1199px)", srcset=`images/tablet/testimonials-${image}.webp`, type="image/webp")
          source(media="(min-width: 1200px)", srcset=`images/desktop/testimonials-${image}.webp`, type="image/webp")
          source(media="(max-width: 600px)", srcset=`images/phone/testimonials-${image}.jpg`, type="image/jpg")
          source(media="(max-width: 1199px)", srcset=`images/tablet/testimonials-${image}.jpg`, type="image/jpg")
          source(media="(min-width: 1200px)", srcset=`images/desktop/testimonials-${image}.jpg`, type="image/jpg")
          img(class="author__image" src= `images/desktop/testimonials-${image}.jpg` , alt=name, srcset="")
        div(class="author__info-container")
          div
            p(class="author__name")= name
            time(class="author__date span-block" datetime=datebin)= date
          div(class="author__socials")
            a(class="author__link" href="#", target="_blank", rel="noopener noreferrer"): svg(class="author__icon author__icon--vk"): use(xlink:href="images/sprite.svg#sp-vk")
            a(class="author__link" href="#", target="_blank", rel="noopener noreferrer"): svg(class="author__icon author__icon--tw"): use(xlink:href="images/sprite.svg#sp-tw")

mixin directionsArticle(title, timeOne, timeTwo, teacher, link, course)
  article(class="directions__item course")
    h3(class="visually-hidden")= `Курсы по ${title}`
    picture(class="course__image-container")
      source(media="(max-width: 600px)", srcset=`images/phone/course-${course}.webp`, type="image/webp")
      source(media="(max-width: 1199px)", srcset=`images/tablet/course-${course}.webp`, type="image/webp")
      source(media="(min-width: 1200px)", srcset=`images/desktop/course-${course}.webp`, type="image/webp")
      source(media="(max-width: 600px)", srcset=`images/phone/course-${course}.jpg`, type="image/jpg")
      source(media="(max-width: 1199px)", srcset=`images/tablet/course-${course}.jpg`, type="image/jpg")
      source(media="(min-width: 1200px)", srcset=`images/desktop/course-${course}.jpg`, type="image/jpg")
      img(class="course__image" src=`images/desktop/course-${course}.jpg`, alt=`Наш замечательный курс по ${title}`)
    div(class="course__container")
      div(class="course__description")
        h3(class="course__title")= title
        p(class="course__timetable timetable")
          span(class="timetable__item span-block")= timeOne
          span(class="timetable__item span-block")= timeTwo
        p(class="course__teacher teacher")
          span(class="teacher__position span-block") Инструктор
          span(class="teacher__name span-block")= teacher
      a(class="course__link" href=link, target="_blank", rel="noopener noreferrer"): svg(class="course__icon"): use(xlink:href="images/sprite.svg#sp-right")